/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require_tree . 
*/

html {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px 50px;
}

h1, h2, h3, h4, h5 {
  margin: 20px 0 20px 0;
  padding: 0;
}

form {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 20px;
}
