<!DOCTYPE html>
<html>
<head>
  <title>SunspotPjaxSearch</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Shakespeare on Solr</h1>
</header>

<div data-pjax-container>
  <%= yield %>
</div>

<footer>
  <h3>What's all this?</h3>

  <p>
    A demo showing off the use of
    <code><a href="https//github.com/defunkt/jquery-pjax">jquery-pjax</a></code>
    with your search forms. It's fast and easy!
  </p>

  <p>
    It's also a test bed for my own
    <code><a href="https://github.com/nz/pjax-rails-forms">pjax-rails-forms</a></code>
    plugin for the Rails 3.1 asset pipeline, currently in development.
  </p>
  
  <p>
    And who am I? <a href="https://nick.zadrozny.com/">Nick Zadrozny</a>,
    a cofounder of <a href="https://websolr.com/" title="Hassle free hosted search powered by Apache Solr">Websolr</a>,
    and a long-time <a href="http://beyondthepath.com/">freelance Ruby developer</a>.
    You should <a href="http://twitter.com/nz_">follow me on Twitter</a> and
    send me a tweet with whatever particularly funny lines you discover here :)
  </p>
  
  <h4>Colophon</h4>

  <p>
    Application hosting by <a href="http://heroku.com/">Heroku</a>,
    Solr hosting by <a href="http://websolr.com/">Websolr</a>,
    text from <a href="http://www.opensourceshakespeare.org/">Open Source Shakespeare</a>.
  </p>
</footer>

<a href="http://github.com/nz/sunspot-pjax-search"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>

</body>
</html>
